<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel = "true">
  <test thread-count="5" name="Test">
    <classes>
      <class name="Tests.LoginTestNav"/>
      <class name="Tests.DSIntorductionPage"/>
      <class name="Tests.QueueDetails"/>
      <class name="Tests.StackPageTests"/>
      <class name="Tests.HomePageTests"/>
      <class name="Tests.ArrayDetailsPage"/>
      <class name="Tests.GraphHomePage"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
